body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f1fa;
}

/* fonts */
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Gilroy;
  font-weight: 600;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.connect {
  background: black;
  border-radius: 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}
.connect span {
  width: 0.35rem;
  height: 0.35rem;
  background: white;
  border-radius: 50%;
  position: relative;
  transition: all ease 0.32s;
  left: 0;
}
.connect p {
  color: white;
  font-weight: 600;
  position: relative;
  transition: all ease 0.32s;
  left: 0;
}
.connect i {
  color: white;
  position: absolute;
  font-weight: normal;
  left: -15px;
  transition: all ease 0.32s;
}
.connect:hover i {
  left: 16px;
}
.connect:hover span {
  left: 30px;
}
.connect:hover p {
  left: 20px;
}
.connect:hover {
  background: #000;
}

.github {
  text-decoration: none;
  border: none;
  background: #e4e6ef;
  font-size: 1rem;
  color: #000;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: 900;
  transition: all ease 0.32s;
}
.github:hover {
  background: white;
}
.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.logo p {
  font-size: 2rem;
  font-weight: 600;
}
.logo img {
  height: 2rem;
  width: 2rem;
}
.main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 1.5rem;
}
.canvasContainer {
  width: 70%;
  height: 80%;
  border-radius: 1rem;
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  position: relative;
  cursor: url(../assets/images/pen.png) 3 3, auto;
}
.main button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: 600;
  transition: all ease 0.2s;
  border-radius: 2rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
.controlButtons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  
}
.main button:active {
  opacity: 0.5;
}
.main button:hover{
  background: black;
  color: white;
}
footer{
  font-size: 1rem;
  margin-bottom: 1rem;
}
footer i{
  color: red;
  margin-inline:0.25rem;
}
.canvasPlaceholder{
  opacity: 0.85;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  transition: all ease 0.32s;
}
.dataArchives{
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all ease 0.32s;
}
.dataArchives:hover{
  opacity: 0.7;
}

/* Mobile Styles */

@media (max-width: 767px)  {
  .navbar {
    padding-inline: 1rem;
  }
  .logo p {
    font-size: 1.5rem;
  }
  .connect{
    display: none;
  }
  .github{
    padding-inline: 1.5rem;
    padding-block: 0.65rem;
  }
  .canvasContainer{
    width: 90%;
  }
  footer{
    font-size: 0.75rem;
    color: #585858;
    margin-bottom: 0.5rem;
  }
  .canvasPlaceholder{
    font-size: 1.45rem;
  }
}
